<html>
<body>
  start
  <TMPL_UNLESS NAME=v1>
    show
  <TMPL_ELSE>
    else_hide
  </TMPL_UNLESS>
  middle
  <TMPL_UNLESS NAME=v2>
    hide
  <TMPL_ELSE>
    else_show
  </TMPL_UNLESS>
  end
</body>
</html>
